@{
    ViewData["Title"] = "Display Data";
    string[] TableHeaders = new string[] {
                    "Name",
                    "Date of Birth",
                    "Father's Name",
                    "Mother's Name",
                    "Address",
                    "Salary",
                    "Fresher",
                    "Role",
                    "Notes"};
    
}
<head>
    <script lang="javascript">
        function del(p) {
            var a = window.prompt("Do you really want to delete?Press YES to confirm.");
            if (a == "YES") {
                window.location.href = "Delete\\" + p;
            }
            else {
                window.location.href = "viewr";
            }
        }
        function edit(p) {
            window.location.href = "Edit\\" + p;
        }
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="add">Employee Details</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="add">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item ml-auto">

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <center><h1>All employees</h1></center>
    <div class="table">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    @{
                        foreach (var head in TableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }


                    }
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model != null)
                    {
                        foreach (var Data in Model)
                        {
                            <tr>
                                <td>@Data.name</td>
                                <td>@Data.dob</td>
                                <td>@Data.father</td>
                                <td>@Data.mother</td>
                                <td>@Data.address</td>
                                <td>@Data.salary</td>
                                <td>@Data.fresher</td>
                                <td>@Data.role</td>
                                <td>@Data.notes</td>
                                <td><button class="btn btn-primary" onclick="edit(@Data.id)">Edit</button></td>
                                <td><button class="btn btn-danger" onclick="del(@Data.id)">Delete</button></td>
                            </tr>
                        }
                    }
                }
            </tbody>

        </table>
        <a href="/Home/ExporttoExcel">Export</a>
    </div>

</body>
