@{
    ViewData["Title"] = "Display Data";
    string[] TableHeaders = new string[] {
                    "Reference number",
                    "Employee Id",
                    "Start Date",
                    "End Date",
                    "Leave Type",
                    "Reason",
                    "Document",
                    "Status"
                    };
}
<head >
    <script lang="javascript">
        function view(p) {
            location.href = "Leavedetails/" + p;
        }
        function down(p) {
            location.href = "Download/" + p;
        }
    </script>
</head>
<body>
    <center><h1>All leaves</h1></center>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="add">Employee Details</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="add">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item ml-auto">

                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="table">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    @{
                        foreach (var head in TableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }


                    }
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model != null)
                    {
                        foreach (var Data in Model)
                        {
                            <tr>
                                <td>@Data.id</td>
                                <td>@Data.empid</td>
                                <td>@Data.Startdate</td>
                                <td>@Data.Enddate</td>
                                <td>@Data.Leavetype</td>
                                <td>@Data.Reason</td>
                                <td>@Html.ActionLink("Download", "Download", new { path=Data.Doc })</td>
                                <td>@Data.Status</td>
                                <td><button class="btn btn-outline-primary" onclick="view(@Data.id)">View</button></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</body>
