@model LoginPage.Models.Tasks

@{
    ViewData["Title"] = "Details";
}
<style>
    body {
        background-image: url(../../images/bg1.jpg);
    }
</style>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Employee" asp-action="empop">Employee Management System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="empop">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="#">Privacy</a>
                    </li>
                    <li class="nav-item ml-auto">

                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
        <h1 style="font-family:'Baskerville Old Face';">Task Details</h1>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Taskname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Taskname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Startdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Startdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enddate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enddate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teamname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teamname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Taskdetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Taskdetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Riskdetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Riskdetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Risksolution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Risksolution)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    <a asp-action="Viewtask">Back to List</a>
</div>
