@model LoginPage.Models.Fetchleaves

@{
    ViewData["Title"] = "LeaveDetails";
}
<style>
    body {
        background-image: url(../../images/watercolor5.jpg);
    }
</style>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Employee" asp-action="empop">Employee Management System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="empop">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="#">Privacy</a>
                    </li>
                    <li class="nav-item ml-auto">

                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<h1 style="font-family:'Baskerville Old Face';">Leave Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Startdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Startdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enddate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enddate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leavetype)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Leavetype)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        @if (!Convert.ToBoolean(Model.verify))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.comment)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.comment)
            </dd>
        }
    </dl>
</div>
<div>
    @if (Convert.ToBoolean(Model.verify)) {
    @Html.ActionLink("EditLeaves", "EditLeaves", new { id = Model.id })
 }
    <a asp-action="Leavespage">Back to List</a>
</div>
